<div class="row">
  <div class="col-12 item-title">示例图片</div>
</div>
<div id="uploadPhoto_wup" class="wup_container ">
  <input id="uploadPhoto" name="projSuvSubDemo_image" value="" class="wup_input image " data-msg-required="请上传图片">
  <input id="uploadPhoto__del" name="projSuvSubDemo_image__del" value="" type="hidden">
  <div class="area">
    <div id="uploadPhotoUploader" class="wup_img">
      <div class="statusBar" style="display:none;">
        <div class="progress" style="display: none;">
          <span class="text">0%</span>
          <span class="percentage"></span>
        </div>
        <div class="info"></div>
        <div class="btns">
          <div id="uploadPhotofilePicker2" class="webuploader-container"><div class="webuploader-pick">继续添加</div></div>
          <div class="uploadBtn state-pedding" style="display: none;">开始上传</div>
        </div>
      </div>
      <div class="queueList">

        <div id="uploadPhotodndArea" class="placeholder">
          <div id="uploadPhotofilePicker" class="webuploader-container"><div class="webuploader-pick">点击选择图片</div></div>
          <p>或将照片拖到这里，最多可选 300 张</p>
        </div>
        <ul id="uploadPhotofileLists" class="filelist ui-sortable"></ul></div>
    </div>
  </div>
</div>
