<div class="row">
  <div class="col-12 item-title">图片上传:{{ picCount && picCount > 0 ? '(需要上传' + picCount + '张)' : '(需要上传0张)' }}</div>
</div>
<div class="row" *ngIf="picName">
  <div class="col-12 item-name">({{ picName }})</div>
</div>
<div id="uploadImage_wup" class="wup_container">
  <input id="uploadImage" name="projLineSuvSub_image" value="" class="wup_input image " data-msg-required="请上传图片">
  <input id="uploadImage__del" name="projLineSuvSub_image__del" value="" type="hidden">
  <div class="area">
    <div id="uploadImageUploader" class="wup_img">
      <div class="statusBar" style="display:none;">
        <div class="progress" style="display: none;">
          <span class="text">0%</span>
          <span class="percentage"></span>
        </div>
        <div class="info"></div>
        <div class="btns">
          <div id="uploadImagefilePicker2" class="webuploader-container"><div class="webuploader-pick">继续添加</div></div>
          <div class="uploadBtn state-pedding" style="display: none;">开始上传</div>
        </div>
      </div>
      <div class="queueList">

        <div id="uploadImagedndArea" class="placeholder">
          <div id="uploadImagefilePicker" class="webuploader-container"><div class="webuploader-pick">点击选择图片</div></div>
          <p>或将照片拖到这里，最多可选 {{picMaxCount}} 张</p>
        </div>
        <ul id="uploadImagefileLists" class="filelist ui-sortable"></ul></div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-12 item-title">视频上传:{{ vidCount && vidCount > 0 ? '(需要上传' + vidCount + '个)' : '(需要上传0个)' }}</div>
</div>
<div class="row" *ngIf="vidName">
  <div class="col-12 item-name">({{ vidName }})</div>
</div>
<div id="uploadFile_wup" class="wup_container">
  <input id="uploadFile" name="projLineSuvSub_file" value="" class="wup_input all " data-msg-required="请上传文件">
  <input id="uploadFile__del" name="projLineSuvSub_file__del" value="" type="hidden">
  <div class="area">
    <div id="uploadFileUploader" class="wup_file">
      <div class="statusBar" style="display:none;">
        <div class="progress" style="display: none;">
          <span class="text">0%</span>
          <span class="percentage"></span>
        </div>
        <div class="info"></div>
        <div class="btns">
          <div id="uploadFilefilePicker2" class="webuploader-container"><div class="webuploader-pick">继续添加</div></div>
          <div class="uploadBtn" style="display: none;">开始上传</div>
        </div>
      </div>
      <div class="queueList">
        <div class="table-responsive">
          <table class="table table-striped filetable table-hover">
            <tbody id="uploadFilefileLists" class="ui-sortable"></tbody>
          </table>
        </div>
        <div id="uploadFiledndArea" class="placeholder">
          <div id="uploadFilefilePicker" class="webuploader-container"><div class="webuploader-pick">点击选择文件</div></div>
          <p>或将文件拖到这里，最多可选 {{vidMaxCount}} 个</p>
        </div>
      </div>
    </div>
  </div>
</div>

