<div><i class="mbsc-pull-right" (click)="close(false)">
  <img src="assets/icons/close.svg" width="25" height="25">
</i></div>
<div mat-dialog-title class="justify-content-center title">更改密码</div>
<div mat-dialog-content class="justify-content-center content-container">
  <form [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
    <div class="container">
      <div class="form-group">
        <label for="oldpass">当前密码</label>
        <input type="password" formControlName="oldpass" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.oldpass.errors }" />
        <div *ngIf="submitted && f.oldpass.errors" class="invalid-feedback">
          <div *ngIf="f.oldpass.errors.required">请输入原密码</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">新密码</label>
        <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">请输入新密码</div>
          <div *ngIf="f.password.errors.minlength">新密码长度最低6位</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password2">再输入新密码</label>
        <input type="password" formControlName="password2" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password2.errors }" />
        <div *ngIf="submitted && f.password2.errors" class="invalid-feedback">
          <div *ngIf="f.password2.errors.required">请再次输入新密码</div>
          <div *ngIf="f.password2.errors.minlength">新密码长度最低6位</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary" style="width: 100%">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          更新密码
        </button>
      </div>
    </div>
  </form>
</div>

