<nav class="navbar navbar-light bg-primary text-white" *ngIf="route">
  <a class="" (click)="gotoRoute()">
    <img src="assets/icons/left.svg" width="25" height="25" class="left-image" alt="">
  </a>
  <span class="title">{{route.distriName}}</span>
</nav>
<img *ngIf="route" style="margin:2px" width="100%" height="170" src="https://api.map.baidu.com/staticimage/v2?
        width=400&height=170&zoom=14&markers={{route.address}}&center={{route.address}}&ak=KnEWgcLAHI9udomlb32KS2djdvojzjcC" />

<div class="container mt-3 mb-3" *ngIf="route">
  <div class="row">
    <div class="col-8">{{route.address}}</div>
    <div class="col-4">
      <a *ngIf="operatingSystem === 'unknown'" href='https://api.map.baidu.com/geocoder?address={{route.address}}&output=html' target='_blank' style="margin-right: 3px;">导航</a>
      <a *ngIf="operatingSystem === 'Android'" href='bdapp://map/navi?query={{route.address}}&src=andr.baidu.openAPIdemo' target='_blank' style="margin-right: 3px;">导航</a>
      <a *ngIf="operatingSystem === 'iOS'" href='baidumap://map/navi?query={{route.address}}&src=andr.baidu.openAPIdemo' target='_blank'>导航</a>
    </div>
  </div>
  <div class="row">
    <div class="col-6 item-title">当前状态:</div>
    <div class="col-6">
      {{route.statuscn}}
    </div>
  </div>
</div>
<div class="container mt-3 mb-3"  *ngIf="route">
  <app-image [bizKey]="lineId + '-signin'" [picCount]="1"
             [maxWidth]="1024"
            [maxHeight]="768"
             [readonly]="!!route.signinDate"
            ></app-image>
  <div class="row"  *ngIf="!route.signinDate">
    <div class="col-12">
      <button type="button" class="btn btn-primary btn-lg btn-signin" (click)="beginSignin()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>开始签到
      </button>
    </div>
  </div>
  <div class="row" *ngIf="route.signinDate">
    <div class="col-6 item-title">签到时间:</div>
    <div class="col-6">
      {{route.signinDate}}
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-6">
      <button type="button" class="btn btn-primary btn-lg btn-signin" [disabled]="!route.signinDate" (click)="beginTest()">顺序答题</button>
    </div>
    <div class="col-6" *ngIf="route.status <= 3">
      <button type="button" class="btn btn-primary btn-lg btn-signin" [disabled]="!route.signinDate" (click)="beginTestOne()">选题答题</button>
    </div>
  </div>
  <div class="row">
    <div class="col-12 mt-3" *ngIf="route.status === 3">
      <button type="button" class="btn btn-primary btn-lg btn-signin" (click)="submitLine()">提交问卷</button>
    </div>
  </div>
  <div class="row mt-4" *ngIf="route.status >= 3 && !route.signoutDate">
    <div class="col-12">
      <button type="button" class="btn btn-primary btn-lg btn-signin" (click)="beginSignout()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>签出
      </button>
    </div>
  </div>
  <div class="row mt-4" *ngIf="route.signoutDate">
    <div class="col-6 item-title">签退时间:</div>
    <div class="col-6">
      {{route.signoutDate}}
    </div>
  </div>
</div>

<div class="snapshot" *ngIf="webcamImage">
  <h2>调研中</h2>
  <img [src]="webcamImage.imageAsDataUrl" width="100%"/>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
  <li>{{error | json}}</li>
</ul>
