<div class="container mt-5 mb-4">
  <div class="row no-gutters title">
    <div class="col-6 text-center {{ filter == 'today' ? 'active' : '' }}" (click)="filterTask('today')">今日拜访</div>
    <div class="col-6 text-center {{ filter == 'tomorrow' ? 'active' : '' }}" (click)="filterTask('tomorrow')">其他拜访</div>
  </div>
</div>
<div *ngIf="filter == 'today'">
  <div *ngFor="let route of routeList">
    <app-route [route]="route" ></app-route>
  </div>
</div>
<div *ngIf="filter == 'tomorrow'">
  <div *ngFor="let route of otherRouteList">
    <app-route [route]="route" ></app-route>
  </div>
</div>
<div style="height: 42px"></div>
<app-menu></app-menu>
