<div class="header"><span class="task">任务情况</span></div>
<div class="container">
  <div class="row mt-4">
    <div class="col-4 text-center task-number task-total">{{taskTotal}}</div>
    <div class="col-4 text-center task-number task-open">{{taskUndoneNum}}</div>
    <div class="col-4 text-center task-number task-done">{{taskDoneNum}}</div>
  </div>
  <div class="row mt-1">
    <div class="col-4 text-center task-number task-total" style="font-size: 14px;">任务总数</div>
    <div class="col-4 text-center task-number task-open" style="font-size: 14px;">未完成任务</div>
    <div class="col-4 text-center task-number task-done" style="font-size: 14px;">已完成任务</div>
  </div>
  <div class="row mt-5">
    <div class="col-4 text-center task-number task-total">{{storeTotal}}</div>
    <div class="col-4 text-center task-number task-open">{{storeUndoneNum}}</div>
    <div class="col-4 text-center task-number task-done">{{storeDoneNum}}</div>
  </div>
  <div class="row mt-1">
    <div class="col-4 text-center task-number task-total" style="font-size: 14px;">任务门店数</div>
    <div class="col-4 text-center task-number task-open" style="font-size: 14px;">未完成门店</div>
    <div class="col-4 text-center task-number task-done" style="font-size: 14px;">已完成门店</div>
  </div>
  <div class="row mt-3">
    <div class="task-title">进行中的任务</div>
    <div class="task-line"><div class="task-inline"></div></div>
  </div>
</div>

<div *ngFor="let task of taskList"><app-task [task]="task" [showStatus]="false"></app-task></div>
<app-menu></app-menu>
