<nav class="navbar navbar-light bg-primary text-white title-bar fixbar" *ngIf="question">
  <a class="" (click)="gotoOnSite()" style="position: absolute; left: 16px">
    <img src="assets/icons/left.svg" width="25" height="25" class="left-image" alt="">
  </a>
  <div class="title" *ngIf="question.title !== undefined && question.isAnswered !== undefined && question.isAnswered">{{ question.subSort + '.' + question.title }}<span style="color: greenyellow">(已答题)</span></div>
  <div class="title" *ngIf="question.title !== undefined && question.isAnswered !== undefined && !question.isAnswered">{{ question.subSort + '.' + question.title }}<span style="color: red">(未答题)</span></div>
  <div class="title" *ngIf="question.title !== undefined && question.isAnswered === undefined">{{ question.subSort + '.' + question.title }}</div>
  <div class="title" *ngIf="question.title === undefined">恭喜，问卷完成！</div>
</nav>

<div class="container mb-4" style="margin-top: 38px" *ngIf="question && question.title !== undefined">
  <div class="row mt-3" *ngIf="!isDis">
    <div class="col-12 item-title"><b>判断标准:</b></div>
  </div>
  <div class="row" *ngIf="!isDis">
    <div class="col-12 pre-line">{{question.standard}}</div>
  </div>
  <div class="row mt-3">
    <div class="col-12 item-title">执行说明:</div>
    <div class="col-12 pre-line">{{question.execDesc}}</div>
  </div>
  <app-photo [bizKey]="question.modelSubjectId"
            [maxWidth]="question.picMaxwidth || 1024"
            [maxHeight]="question.picMaxheight || 768"
            [readonly]="true"
            *ngIf="question && showFile && (question.isDemoPic === undefined ||question.isDemoPic)"></app-photo>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()" *ngIf="question && question.title !== undefined">
  <div class="container mt-4">
    <div class="row" *ngFor="let answer of question.resOptList" >
      <div class="col-12">
        <mat-checkbox formControlName="{{answer.optSort.toString()}}" (change)="checkAnswer(answer.optSort.toString(), $event)"
                    [disabled]="disableArray[answer.optSort.toString()] || !enableArrayFromServer[answer.optSort.toString()] || route.status > 3">{{answer.optDesc}}</mat-checkbox>
      </div>
    </div>
    <mat-form-field>
      <mat-label>备注</mat-label>
      <textarea matInput [(ngModel)]="situDesc" [ngModelOptions]="{standalone: true}"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                cdkAutosizeMaxRows="5" [disabled]="route.status > 3"></textarea>
    </mat-form-field>
    <app-file [bizKey]="lineId + '-' + question.modelSubjectId" [picCount]="question.picCount"
             [vidCount]="question.vidCount" [maxWidth]="question.picMaxwidth || 1024"
              [maxHeight]="question.picMaxheight || 768"
              [readonly]="route.status > 3"
              [picName]="question.picName" [vidName]="question.vidName"
              [picMaxCount]="question.picMaxCount || 300"
              *ngIf="question && showFile"></app-file>
    <div class="form-group mt-3">
      <button [disabled]="loading" class="btn btn-primary" *ngIf="route.status <= 3">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        {{ question.showNextBtn ? '保存并跳转到下一题' : (titleCode && moduleCode ? '提交本题' : '保存并完成问卷')}}
      </button>
    </div>
  </div>
</form>
<div style="height: 40px" *ngIf="question && question.title === undefined"></div>
<div class="container">
  <button class="btn btn-primary mr-2" [disabled]="loading" *ngIf="question && question.showPreviousBtn" (click)="gotoPrevious()">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    前一题
  </button>
  <button class="btn btn-primary" [disabled]="loading" *ngIf="question && question.showNextBtn && route.status > 3" (click)="gotoNext()">
    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
    下一题
  </button>
</div>
<div class="container mt-5">
  <button class="btn btn-primary" *ngIf="question && question.title === undefined && question.code == 100" (click)="gotoOnSite2()">
    返回调研页面
  </button>
</div>
<div class="container mb-4 mt-3" *ngIf="question && question.title !== undefined">
  <div class="row">
    <div class="col-6"><span class="item-title">模块:</span>{{question.module}}</div>
    <div class="col-6 "><span class="item-title">代码:</span>{{question.subCode}}</div>
  </div>
  <div class="row mt-3">
    <div class="col-6 item-title">分值</div>
    <div class="col-6 ">{{question.maxscore}}</div>
  </div>
  <div class="row">
    <div class="col-12 item-title">扣分说明:</div>
  </div>
  <div class="row">
    <div class="col-12 pre-line">{{question.deductDesc}}</div>
  </div>
</div>
<div class="container">
</div>
