.mbsc-pull-right {
  float: right;
}
.content-container {
  padding-top: 20px;
  padding-bottom: 30px;
  border-top: 1px solid #eee;
}
.title {
  font-family: 微软雅黑;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 0!important;
}
