<nav class="navbar navbar-light bg-primary text-white" *ngIf="route">
  <a class="" (click)="gotoRoute()">
    <img src="assets/icons/left.svg" width="25" height="25" class="left-image" alt="">
  </a>
  <span class="title">选题答题</span>
</nav>
<div class="container mt-3 mb-3" *ngIf="route && moduleList.length > 0">
  <form [formGroup]="selectForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <h4 for="moduleCode">请选择模块</h4>
      <div class="">
        <mat-form-field style="width: 100%" >
          <mat-label>模块</mat-label>
          <mat-select formControlName="moduleCode">
            <mat-option *ngFor="let module of moduleList" [value]="module.moduleCode">
              {{module.moduleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <div class="form-group" *ngIf="titleList.length > 0">
      <h4 for="moduleCode">请选择指标</h4>
      <div class="">
        <mat-form-field style="width: 100%" >
          <mat-label>指标</mat-label>
          <mat-select formControlName="titleCode">
            <mat-option *ngFor="let module of titleList" [value]="module.moduleCode">
              {{module.moduleName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="form-group" *ngIf="selectForm.valid">
      <button [disabled]="loading" class="btn btn-primary" style="width: 100%">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        获取题目
      </button>
    </div>
  </form>
</div>
