/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: 微软雅黑; }
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'宋体' , Tahoma, Helvetica, Arial, sans-serif;}
* {
  font-family: Microsoft YaHei,'宋体';
}

.wup_container .area>div {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.wup_container {
  .hide {
    display: none !important;
  }
}
.mat-dialog-container {
  padding-top: 10px !important;
}
.cdk-overlay-pane {
  z-index: 29999099;
}
.cdk-overlay-container {
  z-index: 29999098;
}
.mat-checkbox-layout {
  white-space: pre-line !important;
}
.container {
  @media (min-width: 576px) {
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
.btncancel {
  .btn.delete {
    margin-top: 5px;
  }
  .btn.btn-xs.blue {
    display: none;
  }
}
