.site-card {
  font-family: 微软雅黑;
}
.site-address {
  border-bottom: 1px solid rgb(102, 102, 102);
}
.site-name {
  font-size: 18px;
}
.cursor {
  filter: invert(12%) sepia(89%) saturate(5483%) hue-rotate(244deg) brightness(72%) contrast(138%);
}
